/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background:url(../img/main_background.png);
    background-size: 100%;
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:18px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

/* Portrait layout (default) */
.header {
    position:absolute;
    left:0%;
    top:0%;
    height:100px;
    width:100%;
    text-align:center;
    padding-top:20px;
    background-color:rgba(255, 255, 255, 0.3);
}

.header h1 {
    font-size:48px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.header h2 {
    font-size:32px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.page {
    position:absolute;
    top:120px;
    padding-top: 10px;
    left:0%;
    /* Firefox */
    height: -moz-calc(100% - 130px);
    /* WebKit */
    height: -webkit-calc(100% - 130px);
    /* Opera */
    height: -o-calc(100% - 130px);
    /* Standard */
    height: calc(100% - 130px);
    width:100%;
    font-size:0;
    overflow: scroll;
}

.page .keyp {
    margin-left: 5px;
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 2px;
    vertical-align: top;
}
.page .valuep {
    width: 100%;
    font-size: 18px;
    margin-top: 2px;
    margin-bottom: 5px;
    vertical-align: top;
    text-align: center;
}

#outputdiv {
    /* Firefox *
    height: -moz-calc(100% - 140px);
    /* WebKit *
    height: -webkit-calc(100% - 140px);
    /* Opera *
    height: -o-calc(100% - 140px);
    /* Standard *
    height: calc(100% - 140px);*/
    width: 90%;
    margin-top: 5px;
    margin-bottom: 2px;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
}

/*.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}*/

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}
